$light-grey: #f4f5f7;
$primary: #397ef6;
$secondary: #fafbfc;
$text-subtle: #62718e;
$warning: #FF5454;
$default-radius: 30px;
// $font-primary: 'Josefin Sans', sans-serif;
$font-logo: 'Pacifico', cursive;
// $font-primary: 'Source Sans Pro', sans-serif;
// $font-primary: 'Poppins', sans-serif;
$font-primary: 'Nunito', sans-serif;


@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@200;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');


.registration-container {
  margin: auto;
  width: 90%;
  height: 60%;
  max-width: 1280px;
  display: flex;
  background-color: #fff;
  border-radius: $default-radius;
}

.registration-container .lhs {
  // border: 1px solid brown;
  display: flex;
  flex-direction: column;
  border-top-left-radius: $default-radius;
  border-bottom-left-radius: $default-radius;
  background-color: $secondary;
  flex: 1.5;
}

.registration-container .lhs img {
  border-top-left-radius: $default-radius;
  border-bottom-left-radius: $default-radius;
  height: 100%;
  // overflow: hidden;
  max-width: 100%;
  object-fit: cover;
}


.registration-container .rhs {
  // border: 1px solid orange;
  display: flex;
  justify-content: center;
  flex: 1;
  padding: 60px 0;
}

.registration-form-container {
  width: 70%;
  margin: 0 auto;
}

.registration-form-container button {
  width: 100%;
  padding: 16px 16px;
  background-color: $primary;
  text-transform: uppercase;
}

.registration-form-container button.btn-secondary {
  width: 100%;
  padding: 16px 16px;
  margin-top: 16px;
  color: $text-subtle;
  background-color: $light-grey;
  border: none;
  text-transform: uppercase;
}