$light-grey: #f4f5f7;
$primary: #397ef6;
$secondary: #fafbfc;
$text-subtle: #62718e;
$warning: #FF5454;
$default-radius: 30px;
// $font-primary: 'Josefin Sans', sans-serif;
$font-logo: 'Pacifico', cursive;
// $font-primary: 'Source Sans Pro', sans-serif;
// $font-primary: 'Poppins', sans-serif;
$font-primary: 'Nunito', sans-serif;


@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@200;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

/** Home Page **/ 

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/** All Countries, Search Friends, My Friends **/

.countriesH2 {
  text-align: center;
  margin: 20px;
}

.country-card {
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 20px;
}

.flag {
  padding: 25px;
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.countriesForm {
  display: flex;
  flex-direction: column;
}

.searchButton {
  align-self: center;
  width: 8rem;
  padding: 10px;
  color: white;
  background-color: $primary;
  border: none;
}

.countriesDropdownContainer {
  display: flex;
  justify-content: center;
}

.countriesDropdown {
  background-color: $primary;
}

.countriesButtonsContainer {
display: flex;
flex-direction: row;
justify-content: space-around;
margin: 10px;
}

.countriesButton {
  padding: 10px;
  color: white;
  background-color: $primary;
  border: none;
}

.countriesCardLinks {
  display: flex;
  justify-content: space-evenly;
}

.cardTitle {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}

.FriendsCardHeader {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}

.cardText {
  text-align: center;
}

.addFriendButtonContainer {
  display: flex;
  justify-content: center;
}


/** Comments **/ 


body {
  background-color: $light-grey;
  font-family: $font-primary;
}

h1 {
  text-transform: uppercase;
  font-size: 30px;
  color: $text-subtle;
}

div {
  white-space: pre-wrap; 
}

.logo {
  font-family: $font-logo;
  font-size: 24px;
  color: $primary;
}

// General Layout

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: col;
}

/** Photo Library **/

.photo-library-container {
  display: flex;
  flex-wrap: wrap;
}

.photo-thumb > img {
    margin: 5px;
    flex: 1 0 auto;
    width: 30%;
    height: auto;
}


/** Notifications **/

@media only screen and (max-width: 988px) {
  .notificationBox {
    left: 0;
  }
  .notificationIcon {
    position: "fixed";
    left: "92%";
    top: "50px";
    float: "right";
  }
} 


.heroHome {
  color: white;
  background-image: url("https://images.unsplash.com/photo-1531219432768-9f540ce91ef3?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1050&q=80");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}



// /* Small devices (landscape phones, 544px and up) */
// @media (min-width: 544px) {  
//   h1 {
//     // color: green;
//   } /*1rem = 16px*/

//   .navbar {
//     margin-bottom: 1rem;
//   }
// }
 
// /* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
// @media (min-width: 768px) {  
//   h1 {font-size:2rem;} /*1rem = 16px*/
// }
 
// /* Large devices (desktops, 992px and up) */
// @media (min-width: 992px) { 
//   h1 {font-size:2.5rem;} /*1rem = 16px*/
// }
 
// /* Extra large devices (large desktops, 1200px and up) */
// @media (min-width: 1200px) {  
//   h1 {font-size:3rem;} /*1rem = 16px*/    
// }


.navbar {
  background-color: #fff;
  font-size: 14px;
  margin-bottom: 50px;
}

.text-link {
  color: $primary;
  cursor: pointer;
}

.text-link:hover {
  text-decoration: underline;
}

// FORMS

.form-element-group {
  margin-bottom: 16px;
}

.form-element-group input {
  padding: 20px 16px;
  font-size: 14px;
}

.form-element-group label {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  color: $text-subtle;
}

.invalid-field {
  font-size: 12px;
  color: $warning;
}

@media only screen and (max-width: 600px) {
  .registration-container .lhs {
    flex: 0;
  }
}

/* profile page */
.profileCard {
  padding: 30px;
  border-radius: 20px;
  margin: 10px;
}

.fade-in {
  animation: fadeIn ease 0.1s;
  -webkit-animation: fadeIn ease 0.1s;
  -moz-animation: fadeIn ease 0.1s;
  -o-animation: fadeIn ease 0.1s;
  -ms-animation: fadeIn ease 0.1s;
  }
@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

.justifyCenter {
  display: flex;
  justify-content: center;
}

.justifySpaceBetween {
  display: flex;
  justify-content: space-between;
}