.mb-16 {
  margin-bottom: 16px;
}


/** Comments **/ 

.comment-header {
  display: flex;
  justify-content: space-between;
}

.comment-control {
  cursor: pointer;
}

.comment-control:hover {
  text-decoration: underline;
}

.comment-likes {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
