$light-grey: #f4f5f7;
$primary: #397ef6;
$secondary: #fafbfc;
$text-subtle: #62718e;
$default-radius: 24px;
$font-primary: 'Josefin Sans', sans-serif;
// $font-primary: 'Source Sans Pro', sans-serif;
// $font-primary: 'Poppins', sans-serif;


// @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


body {
  background-color: $light-grey;
  font-family: $font-primary;
}

h1 {
  text-transform: uppercase;
  font-size: 30px;
  color: $text-subtle;
}

// General Layout

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: col;
}


/** Photo Library **/

.photo-library-container {
  display: flex;
  flex-wrap: wrap;
}

.photo-thumb > img {
    margin: 5px;
    flex: 1 0 auto;
    width: 30%;
    height: auto;
}

// /* Small devices (landscape phones, 544px and up) */
// @media (min-width: 544px) {  
//   h1 {
//     // color: green;
//   } /*1rem = 16px*/

//   .navbar {
//     margin-bottom: 1rem;
//   }
// }
 
// /* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
// @media (min-width: 768px) {  
//   h1 {font-size:2rem;} /*1rem = 16px*/
// }
 
// /* Large devices (desktops, 992px and up) */
// @media (min-width: 992px) { 
//   h1 {font-size:2.5rem;} /*1rem = 16px*/
// }
 
// /* Extra large devices (large desktops, 1200px and up) */
// @media (min-width: 1200px) {  
//   h1 {font-size:3rem;} /*1rem = 16px*/    
// }


.navbar {
  background-color: #fff;
  font-size: 12px;
}

.text-link {
  color: $primary;
  cursor: pointer;
}

.text-link:hover {
  text-decoration: underline;
}

// FORMS

.form-element-group {
  margin-bottom: 16px;
}

.form-element-group input {
  padding: 20px 16px;
  font-size: 14px;
}

.form-element-group label {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  color: $text-subtle;
}

@media only screen and (max-width: 600px) {
  .registration-container .lhs {
    flex: 0;
  }
}