.mb-16 {
  margin-bottom: 16px;
}


/** Comments **/ 

.comment-header {
  display: flex;
  justify-content: space-between;
}

.comment-control {
  cursor: pointer;
}

.comment-control:hover {
  text-decoration: underline;
}

.comment-likes {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/** Photo Library **/

.photo-library-container {
  display: flex;
  flex-wrap: wrap;
}

.photo-thumb > img {
    margin: 5px;
    flex: 1 0 auto;
    width: 30%;
    height: auto;
}